.picture {
  height: 15rem;
  border-radius: 50%;
  width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin: auto;
}

.about {
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.name {
  text-align: center;
  margin-top: 1rem;
}

.ulysse {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.aboutUs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 10vh auto;
}

.logo {
  height: 3rem;
  margin: 0 0.5rem;
}

.aboutText,
.aboutLink {
  text-align: center;
  margin: 0 20%;
}

.aboutName {
  width: 100%;
  margin: auto;
}

.aboutProject {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 4vh;
}

.aboutLink {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
